= content_for :marketing_pixels do
  = render 'marketing_pixels/facebook_landing'

.page-transition#page-transition-pages
  .page-transition-page.page-transition-page-current{ data: { animation: 'flipLeft' } }
    %section.cover.cover-mobile-landing.text-center
      .mobile-stretch-page  
        .height-15-percent
        
        %header.color-light.flex-item-push
          .container
            = image_tag 'mobile/logo-badge.jpg', width: '72px', height: '72px'
            %h1.color-light
              Les bonnes adresses 
              %br
              santé entre maman
            
            %h4.color-light{ style: 'padding-top: 8px'}
              Le bouche à oreille entre 
              %br
              femmes de confiance
              
  
        %footer
          .container
            = link_to 'Je veux savoir', '#', class: 'btn btn-primary btn-block btn-outline', id: 'registration-start'
            %small.color-light
              3005 mamans ont déja liké Mèreveilleuse
          

  .page-transition-page{ data: { animation: 'flipLeft' } }
    %section.cover.text-center.cover-mobile-recommendation
      .mobile-stretch-page  
        .height-10-percent
        %header.color-light.flex-item-push
          .attention
            %h1.attention-header
              Aide une maman 
            %br
            %h1.attention-header
              et une maman
            %br
            %h1.attention-header
              t'aidera
            
            .attention-body
              Pour accéder aux recommandations partagez une bonne adresse santé 
              %bold
                ou 
              invitez une amie maman
              
        
        %footer
          .container  
            = link_to 'Je suis prête à aider', new_registration_path, class: 'btn btn-primary btn-block', id: 'new_registration'
            %br

    