= content_for :marketing_pixels do
  = render 'marketing_pixels/facebook_landing'

.page-transition#page-transition-pages
  .page-transition-page.page-transition-page-current{ data: { animation: 'flipLeft' } }
    %section.cover.cover-mobile-landing.text-center
      .mobile-stretch-page  
        .height-15-percent
        
        %header.color-light.flex-item-push
          .container
            = image_tag 'mobile/logo-badge.jpg', width: '72px', height: '72px'
            %h1.color-light
              Les bonnes adresses 
              %br
              santé entre maman
            
            %h4.color-light{ style: 'padding-top: 8px'}
              The only club where you get personalized word of mouth recommendations from trusted mothers in your area .
        
  
        %footer
          .container
            = link_to 'Rejoindre le Club', '#', class: 'btn btn-primary btn-block btn-outline', id: 'registration-start'
            %small.color-light
              3005 mamans a déja like Mereveilleuse
          

  .page-transition-page{ data: { animation: 'flipLeft' } }
    %section.cover.text-center
      .mobile-stretch-page 
        .mobile-stretch-content.height-50-percent.background-secondary-background
          .container-center
            .container
              = link_to new_registration_path, class: 'btn btn-primary btn-round', id: 'registration-influencer' do
                = image_tag 'mobile/icon-join-influencer.png', width: '100px', height: '100px'
              %h3
                J'ai une recommandation
              %p
                Je connais un bon professionnel 
                %br 
                je partage mon avis
        
  
        .mobile-stretch-content.height-50-percent.background-light
          .container-center
            .container
              = link_to registration_invite_path, class: 'btn btn-primary btn-round', id: 'registration-know-influencer' do
                = image_tag 'mobile/icon-join-known-influencer.png', width: '100px', height: '100px'
          
              %h3
                J'invite une maman
              %p
                Je connais des mamans qui seront
                %br
                intéressées par MèreVeilleuse