= form_for(@form, url: path, method: :post) do |f|
  
  .panel.panel-default
    .panel-body
      .form-group.has-feedback
        = f.label :practitioner_name, t('recommendation.form.practitioner_name.label')
        = react_component( 'PractitionerAutocomplete', field: f.text_field(:practitioner_name, class: 'form-control', placeholder: t('recommendation.form.practitioner_name.placeholder')) )
        
      .form-group.has-feedback
        = f.label :profession_name, t('recommendation.form.profession.label')
        = react_component( 'ProfessionAutocomplete', field: f.text_field(:profession_name, class: 'form-control', placeholder: t('recommendation.form.profession.placeholder')) )
           
      .form-group.has-feedback
        = f.label :patient_type_id, t('recommendation.form.patient_type.label')
        = f.collection_select(:patient_type_id, PatientType.order(id: :asc), :id, :name, { include_blank: t('recommendation.form.patient_type.placeholder') }, class: 'form-control' )
        %i.icon-ok.hidden

      .form-group.has-feedback
        = f.label :address, t('recommendation.form.address.label')
        = react_component( 'AddressAutocomplete', field: f.text_field(:address, class: 'form-control', placeholder: t('recommendation.form.address.placeholder')))
    
  .panel.panel-default  
    .panel-body
      .form-group.text-center
        = render 'recommendations/rating_buttons', f: f, item: 'wait_time'
         
      .form-group.text-center
        = render 'recommendations/rating_buttons', f: f, item: 'availability'
      
      .form-group.text-center
        = render 'recommendations/rating_buttons', f: f, item: 'bedside_manner'
      
      .form-group.text-center
        = render 'recommendations/rating_buttons', f: f, item: 'efficacy'
    
  .panel.panel-default  
    .panel-body
      .form-group
        = f.label :comment, t('rating.form.comments.label')
        = f.text_area :comment, class: 'form-control', rows: 8
  
  = f.submit t('recommendation.form.submit'), class: 'btn btn-primary btn-block', id: 'commit'
