.text-center= f.label item, t("rating.form.#{item}.label")

.flex-container.flex-item{ style: 'max-height: 420px'}
  - (0..4).each do |value|
    .rating-input.needsclick.flex-item
      = f.radio_button item, value, class: 'needsclick'
      %label{ for: "#{f.object_name}_#{item}_#{value}", class: 'needsclick'}
        %span{ class: "rating-#{value} needsclick"}


