%p= f.label :wait_time, t("rating.form.#{item}.label")
%label.radio-inline
  = radio_button('recommendation_form', item, 0)
  0
%label.radio-inline
  = radio_button('recommendation_form', item, 1)
  1
%label.radio-inline
  = radio_button('recommendation_form', item, 2)
  2
%label.radio-inline
  = radio_button('recommendation_form', item, 3)
  3
%label.radio-inline
  = radio_button('recommendation_form', item, 4)
  4