.text-center
  %label{for: item}
    = t("rating.form.#{item}.label")

.mobile-stretch-wrapper
  - (0..4).each do |value|
    .rating-input.mobile-stretch-content
      = radio_button_tag "recommendation_form[#{item}]", value, false
      %label{ for: "recommendation_form_#{item}_#{value}" }
        %span{ class: "rating-#{value}"}


