%p= f.label :wait_time, t("rating.form.#{item}.label")
%label.radio-inline
  = f.radio_button item, 0
  0
%label.radio-inline
  = f.radio_button item, 1
  1
%label.radio-inline
  = f.radio_button item, 2
  2
%label.radio-inline
  = f.radio_button item, 3
  3
%label.radio-inline
  = f.radio_button item, 4
  4