.form-group
  = f.label :practitioner_name, t('recommendation.form.practitioner_name.label')
  = f.text_field :practitioner_name, class: 'form-control', placeholder: t('recommendation.form.practitioner_name.placeholder')

.form-group
  = f.label :profession, t('recommendation.form.profession.label')
  = f.text_field :profession, class: 'form-control', placeholder: t('recommendation.form.profession.placeholder')

.form-group
  = f.label :patient_type, t('recommendation.form.patient_type.label')
  = f.text_field :patient_type, class: 'form-control', placeholder: t('recommendation.form.patient_type.placeholder')

.form-group
  = f.label :address, t('recommendation.form.address.label')
  = f.text_field :address, class: 'form-control', placeholder: t('recommendation.form.address.placeholder')
