.row
  .col-sm-12.text-center
    %h2.normal= t('invite.information.title')
    %h1.normal= t('invite.information.subtitle')
    
    %br
    = image_tag 'invite.png'
    %br
    %br
    %p= t('invite.information.question')
    %p.bold= t('invite.information.reason')
    %br
    %br
.row
  .col-sm-4.col-sm-offset-2
    = link_to t('invite.information.submit.negative'), '#', class: 'btn btn-secondary btn-block'
  .col-sm-4
    = link_to t('invite.information.submit.affirmative'), '#', class: 'btn btn-primary btn-block', id: 'tester'

    = react_component('CommentBox')
  