%section
  = render 'navs/submenu', active: 'recommendation'

  .container
    .row
      .col-sm-10.col-sm-offset-1.text-center
        .space-xs-40
        .panel.panel-display
          .panel-body
            %h3.no-margin= t('invite.information.title')
            %h4.no-margin= t('invite.information.subtitle')
          
            .space-xs-30
            = image_tag 'group-of-mothers-medium.png'
           
            %p.no-margin= t('invite.information.question')
            %p.no-margin.bold= t('invite.information.reason')
            
            .space-xs-10
    
    .row
      .col-sm-5.col-sm-offset-1
        = link_to t('invite.information.submit.negative'), new_search_path, class: 'btn btn-alternate btn-block'
        %br
      .col-sm-5
        = link_to t('invite.information.submit.affirmative'), '#dialog', class: 'btn btn-primary btn-block x-invite', data: { redirect: new_search_path } 
    
    .space-xs-60 
        
  