%table.container
  %tr
    %td
      %hr
      %table.row
        %tr
          %td.wrapper.last
            %table.twelve.columns
              %tr
                %td.center 
                  .small.center
                    Cet email a été envoyé à #{@user.email}. #{ link_to('Cliquez ici pour vous désinscrire.', unsubscribe_account_url(@user), id: 'unsubscribe-account') }  
                %td.expander
      %table.row
        %tr    
          %td.wrapper.last
            %table.twelve.columns  
              %tr
                %td.two.sub-columns.center 
                  
                %td.two.sub-columns.center 
                  %i.icon-lg.icon-square.background-google.color-light
                    = link_to '#' do
                      = image_tag 'social-icons-google.png', alt: 'g'
                %td.two.sub-columns.center
                  %i.icon-lg.icon-square.background-twitter.color-light
                    = link_to 'https://twitter.com/Mere_veilleuse_' do
                      = image_tag 'social-icons-twitter.png', alt: 't'
                %td.two.sub-columns.center 
                  %i.icon-lg.icon-square.background-facebook.color-light
                    = link_to 'https://www.facebook.com/communaute.mereveilleuse' do
                      = image_tag 'social-icons-facebook.png', alt: 'f'
                %td.two.sub-columns.center 
                  %i.icon-lg.icon-square.background-instagram.color-light
                    = link_to 'http://blog.mereveilleuse.com/' do
                      = image_tag 'social-icons-wordpress.png', alt: 'w'
                %td.two.sub-columns.center 
                  
                %td.expander