%form.cover#recommendation_form{ method: :post, 'accept-charset' => 'UTF-8', 'data-action' => registration_path }
  .page-transition#page-transition-pages
    .page-transition-page.page-3.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .container
          .row
            .col-sm-12
              %h2
                Aide une maman et une maman t'adiera
              %p
                Who better than a mother that can recommend the good addresses in the neighboorhood
              %p
                = link_to 'Go', '#', class: 'btn btn-primary', id: 'registration-influencer-next'
    
              %p
                = link_to 'Go Back', root_path, class: 'btn btn-primary', id: 'registration-back'

    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center    
        
        = react_component('RecommendationFormStep', { patient_types: PatientType.order(id: :asc).map {|p| [ p.name, p.id ] }.to_json }, { class: 'mobile-stretch-page' })
       
    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .mobile-stretch-page
          %p= render 'recommendations/rating_buttons', item: 'wait_time'          

    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .mobile-stretch-page
          %p= render 'recommendations/rating_buttons', item: 'availability'

    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .flex-container
          %p= render 'recommendations/rating_buttons', item: 'bedside_manner'    

    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .mobile-stretch-page
          %p= render 'recommendations/rating_buttons', item: 'efficacy'


    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .mobile-stretch-page
          %label{for: 'recommendation_form_comment'} 
            = t('rating.form.comments.label')    
          
          .mobile-stretch-wrapper
            = text_area_tag 'recommendation_form_comment', nil, class: 'form-control', style: 'height: 60vh;'
            = link_to 'Next', '#', class: 'btn btn-primary btn-block', id: 'recommendation-commit'  




