%form.cover#recommendation_form{ method: :post, 'accept-charset' => 'UTF-8', 'data-action' => registration_path }
  .page-transition#page-transition-pages
    .page-transition-page.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center.cover-mobile-recommendation
        .mobile-stretch-page  
          .height-10-percent
          %header.color-light.flex-item-push
            .attention
              %h1.attention-header
                Aide une maman et 
              %h1.attention-header
                une maman t'aidera
              
              .attention-body
                En laissant une recommandation, vous accédez à l'ensemble du club et vous aidez les mamans
          
          %footer
            .container  
              = link_to 'Je suis prête à aider', '#', class: 'btn btn-primary btn-block', id: 'registration-influencer-next'
            %small.color-light
              = link_to 'Non, pas encore. Invitez une maman', registration_invite_path, id: 'registration-back'

    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center    
        = react_component('RecommendationFormStep', { patient_types: PatientType.order(id: :asc).map {|p| [ p.name, p.id ] }.to_json }, { class: 'container height-100-percent' })
         
    .page-transition-page.page-3{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        = render 'recommendations/rating_buttons', item: 'wait_time'          

    .page-transition-page.page-2{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        = render 'recommendations/rating_buttons', item: 'availability'

    .page-transition-page.page-1{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        = render 'recommendations/rating_buttons', item: 'bedside_manner'    

    .page-transition-page.page-6{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        = render 'recommendations/rating_buttons', item: 'efficacy'

    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .container.height-100-percent
          .mobile-stretch-page 
            %br
            %h3.color-light= t('rating.form.comments.label')
            %br
            
            .flex-item-push.form-group.no-margin.height-100-percent
              = text_area_tag 'recommendation_form_comment', nil, class: 'form-control height-70-percent', rows: '8'
              
            .form-group.no-margin
              = link_to 'Finish', '#', class: 'btn btn-primary btn-block', id: 'recommendation-commit'  
              %br

             



