%form.cover#recommendation_form{ method: :post, 'accept-charset' => 'UTF-8', 'data-action' => registration_path }
  .page-transition#page-transition-pages
    .page-transition-page.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .mobile-stretch-page 
          .mobile-stretch-content.height-50-percent.background-secondary-background
            .container-center
              .container
                = link_to '#', class: 'btn btn-primary btn-round', id: 'registration-influencer' do
                  = image_tag 'mobile/icon-join-influencer.png', width: '100px', height: '100px'
                %h3
                  Je partage une bonne adresse
                %p
                  Je connais un bon professionnel 
                  %br 
                  je le recommande
        
  
          .mobile-stretch-content.height-50-percent.background-light
            .container-center
              .container
                = link_to registration_invite_path, class: 'btn btn-primary btn-round', id: 'registration-know-influencer' do
                  = image_tag 'mobile/icon-join-known-influencer.png', width: '100px', height: '100px'
            
                %h3
                  J'invite une maman
                %p
                  Je connais des mamans qui seront
                  %br
                  intéressées par MèreVeilleuse

    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center    
        = react_component('RecommendationFormStep', { patient_types: PatientType.order(id: :asc).map {|p| [ p.name, p.id ] }.to_json }, { class: 'container height-100-percent' })
         
    .page-transition-page.page-3{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        = render 'recommendations/vertical_rating_buttons', item: 'wait_time'          

    .page-transition-page.page-2{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        = render 'recommendations/vertical_rating_buttons', item: 'availability'

    .page-transition-page.page-1{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        = render 'recommendations/vertical_rating_buttons', item: 'bedside_manner'    

    .page-transition-page.page-6{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        = render 'recommendations/vertical_rating_buttons', item: 'efficacy'

    .page-transition-page.page-4{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .container.height-100-percent
          .mobile-stretch-page 
            %br
            %h3.color-light= t('rating.form.comments.label')
            %br
            
            .flex-item-push.form-group.no-margin.height-100-percent
              = text_area_tag 'recommendation_form_comment', nil, class: 'form-control height-70-percent', rows: '8'
              
            .form-group.no-margin
              = link_to 'Terminer', '#', class: 'btn btn-primary btn-block', id: 'recommendation-commit'  
              %br

             



