%table.row.content
  %tr
    %td.wrapper.last
      %table.twelve.columns
        %tr
          %td
            %center
              %h2.center
                #{ @recommender.fullname } recommended a(n) 
                %b
                  #{ @recommendation.profession_name } 
                for a
                %b
                  = @recommendation.patient_type_name
          
          %td.expander

%table.row.content
  %tr
    %td.wrapper.no-gutter
      %table.two.columns
        %tr
          %td.center
            %center
              = image_tag @user.profile_image, class: 'icon-round center'
          %td.expander
    
    %td.wrapper.last
      %table.ten.columns
        %tr
          %td
            %h4
              You are searching for an #{@search.profession_name}
            %p
              Four score and sever years ago, our forefather brought upon this land a great pizza, one with many toppings. A pizza so grand, so magnificent, it made the italians cry.
                 
          %td.expander  

%hr


%table.row.content
  %tr
    %td.wrapper.no-gutter
      %table.two.columns
        %tr
          %td.center
            %center
              = image_tag @recommender.profile_image, class: 'icon-round center'
          %td.expander
    
    %td.wrapper.last
      %table.ten.columns
        %tr
          %td
            %h4
              #{@recommender.fullname} recommended
            %p
              I recommend the osteopath 
              %b
                #{@recommendation.practitioner_fullname} 
              with an overall note of 
              %b
                #{ @recommendation.rating }.  
              Julie has great bedside manner, is very punctual, and the wait time is correct.
            %p
              #{@recommendation.comment}
            %p
              Here are Julie’s contact details.
          %td.expander  

%hr  

%table.row.content
  %tr
    %td.center{ align: 'center' }
      %center
        %table.container
          %tr
            %td.wrapper.last
              %table.twelve.columns
                %tr
                  %td
                    = static_map_for @recommendation
                  %td.expander