%h1= "Bonjour #{@user.firstname}"
%p
  Les MèreVeilleuses du
  = @search.address
  recommandent un nouveau
  = @search.profession_name

%hr

- @recommendations.each do |recommendation|
  
  %h2
    %p
      = recommendation.practitioner.fullname
      = recommendation.profession.name
    %p= recommendation.address
    %p= recommendation.patient_types.first.name
    %p= recommendation.rating

  %ul
    %li 
      %p
        = t('rating.form.wait_time.label')
        = recommendation.wait_time
    %li 
      %p
        = t('rating.form.availability.label')
        = recommendation.availability
    %li 
      %p
        = t('rating.form.bedside_manner.label')
        = recommendation.bedside_manner
    %li 
      %p
        = t('rating.form.efficacy.label')
        = recommendation.efficacy

  %p= recommendation.comment

%p= link_to 'Je ne cherche plus', '#'
%p= link_to 'Je recommande un spécialiste', ENV['FACEBOOK_CANVAS']

%ul
  %li
    Facebook
  %li 
    Twitter
  %li
    Blog
