%table.row.content
  %tr
    %td.wrapper.last
      %table.twelve.columns
        %tr
          %td
            %center
              %h2.center
                %b
                  #{ @recommender.fullname } 
                a recommendé un(e) 
                %b
                  #{ @recommendation.profession_name } 
                pour
                %b
                  = @recommendation.patient_type_name
          
          %td.expander

%table.row.content
  %tr
    %td.wrapper.no-gutter
      %table.two.columns
        %tr
          %td.center
            %center
              = image_tag @user.profile_image, class: 'icon-round center profile-image'
          %td.expander
    
    %td.wrapper.last
      %table.ten.columns
        %tr
          %td
            %h4
              Vous êtes à la recherche d'un(e) #{@search.profession_name}
            %p
              Une MèreVeilleuse maman a recommandé un(e) #{ @search.profession_name.downcase } pour toute consultation destinée à #{@search.patient_type_name.downcase}, et près de chez vous, au #{@search.address}.
                 
          %td.expander  

%hr

%table.row.content
  %tr
    %td.wrapper.no-gutter
      %table.two.columns
        %tr
          %td.center
            %center
              = image_tag @recommender.profile_image, class: 'icon-round center profile-image'
          %td.expander
    
    %td.wrapper.last
      %table.ten.columns
        %tr
          %td
            %h4
              #{@recommender.fullname} recommendé
            
            %p
              Je recommande le #{@recommendation.profession_name.downcase} avec une note gobale de
              %b
                #{ @recommendation.rating }.  
              
            
            %p
              #{@recommendation.comment}
            
            %p
              Voici les coordonnées de 
              %b
                #{@recommendation.practitioner_fullname}.
          
          %td.expander  

