= content_for :marketing_pixels do
  = render 'marketing_pixels/facebook_registration'
  = render 'marketing_pixels/google_registration'

= form_for(@form, url: search_path, method: :post, html: { class: 'cover' }) do |f|
  .page-transition#page-transition-pages
    .page-transition-page.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center.cover-mobile-search
        .mobile-stretch-page  
          .height-15-percent

          %header.color-light.flex-item-push
            .container
              = image_tag 'mobile/logo-badge.jpg', width: '72px', height: '72px'
              %h1.color-light
                Trouver 
                %br
                un praticien
              %h4.color-light{ style: 'padding-top: 8px'}
                La communauté MèreVeilleuse est basée sur la réciprocité et l’entraide entre mamans.

          %footer
            .container
              = link_to 'Effectuez une recherche', '#', class: 'btn btn-primary btn-block btn-outline', id: 'search-start'
              %small.color-light
                = "#{Recommendation.count} recommandations"
         
    .page-transition-page.page-1{ data: { animation: 'pushBottomPullTop' } }
      %section.cover.text-center
        .container.height-100-percent 
          .mobile-stretch-form
            .form-group.no-margin.mobile-stretch-form-field
              %br
              %h3.color-light
                Trouvez un praticien
  
            .form-group.no-margin.mobile-stretch-form-field
              = f.collection_select(:profession_id, Profession.indexed.order(name: :asc), :id, :name, { include_blank: 'Spécialité' }, class: 'form-control' )
            
            .form-group.no-margin.mobile-stretch-form-field 
              = f.collection_select(:patient_type_id, PatientType.order(id: :asc), :id, :name, { include_blank: 'Pour maman ? Pour bébé ?' }, class: 'form-control' )
            
            .form-group.no-margin.mobile-stretch-form-field
              = react_component('AddressAutocomplete', className: 'form-control', name: 'search_form[address]', id: 'search_form_address', placeholder: 'Adresse' )
            
            .form-group.no-margin.mobile-stretch-form-field
              = f.submit t('search.form.submit'), class: 'btn btn-primary btn-block', id: 'search-commit'
              %br
