%section
  = render 'navs/submenu', active: 'none'

  .container
    .row
      .col-sm-10.col-sm-offset-1.text-center
        .space-xs-40
        .panel.panel-display
          .panel-body
            %h3.no-margin= t('search.success.title')
            .space-xs-10
            %h4.no-margin= t('search.success.subtitle')
      
            .space-xs-30
            = image_tag 'icon-email.png'
            .space-xs-30
      
        =# link_to t('search.success.action'), '#', class: 'btn btn-primary btn-block', id: 'share', data: { share_url: "#{ ENV['FACEBOOK_CANVAS'] }" }
        = react_component('FacebookShareButton', 
            value: t('search.success.action'),
            class: 'btn btn-primary btn-block', 
            url: ENV['FACEBOOK_CANVAS'])
            
        .space-xs-10
        %p.small= t('search.success.information')
    .space-xs-60 