!!!  XML
!!!  Strict
%html{html_attrs('fr')}
  %head
    %title=page_title  
    
    = stylesheet_link_tag 'application_phone', media: 'screen'

    = render 'layouts/meta_tags'
    = render 'layouts/open_graph_meta_tags'

    = favicon_link_tag 'favicon.ico'

    <!--[if lt IE 9]>
    = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    <![endif]-->
    
    = render 'shared/analytics' 
    
  %body
    - unless Rails.env.test?
      = react_component( 'MixpanelAPI' )
      
    #main
      = yield
    
    #fb-root
    
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.min.js'
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places&sensor=false"
    = javascript_include_tag :application_phone
