!!!  XML
!!!  Strict
%html{html_attrs('fr')}
  %head
    %title=page_title 
    
    = stylesheet_link_tag :application, media: 'screen'
    
    = render 'layouts/meta_tags'
    = render 'layouts/open_graph_meta_tags'
    
    = canonical_tag
    = favicon_link_tag 'favicon.ico'
     
    <!--[if lt IE 9]>
    = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    <![endif]-->
    
    = render 'shared/analytics'

  %body{ class: ('blur' if @requesting_authentication ) }
    - unless Rails.env.test?
      = react_component( 'FacebookSDK', app_id: ENV['FACEBOOK_APP_ID'] )
      = react_component( 'FacebookCanvasLogin', facebook_canvas: ENV['FACEBOOK_CANVAS'], facebook_permissions_dialog: @requesting_authentication )
      = react_component( 'MixpanelAPI' )
      
    = render 'shared/flash'
    = yield
    = render 'shared/footer'
     
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places&sensor=false"
    = javascript_include_tag :application
