!!!  XML
!!!  Strict
%html{xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{content: 'width=device-width', name: 'viewport'}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    
    %title 
      mèreveilleuse
    
    %style{'data-roadie-ignore' => true}
      :plain
        .appleLinksWhite a { color: #ffffff !important; text-decoration: none;}
    
    
    = stylesheet_link_tag :email, media: 'screen'
  
  %body{ topmargin: 0, leftmargin: 0, marginheight: 0, marginwidth: 0 }
    %table.body
      %tr
        %td.center{ align: 'center', valign: 'top' }
          %center
            %table.container
              %tr
                %td
                  %table.row.header
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td.center
                              %center
                                = image_tag 'logo-badge.jpg', class: 'center'
                                %br
                                = image_tag 'group-of-mothers.jpg', class: 'center'
                            %td.expander
      
                  = yield
            
            %table.row.background-primary-background
              %tr
                %td.center.results
                  %center
                    %table.container.background-transparent.no-vertical-padding
                      %tr
                        %td.wrapper.offset-by-one.last
                          %table.ten.columns
                            %tr
                              %td
                                %h2.bold.no-margin
                                  #{ @recommendation.practitioner_fullname }
                                %h4.no-margin
                                  #{ @recommendation.profession_name } pour a #{ @recommendation.patient_type_name }
                                %p.no-margin
                                  #{ @recommendation.address }

                              %td.expander 
                    
                    %table.container.background-transparent.no-vertical-padding
                      %tr      
                        %td.wrapper.last.offset-by-one.no-vertical-padding
                          %table.ten.columns
                            %tr
                              %td
                                = static_map_for @recommendation, size: '480x240'
                              %td.expander   

                    %table.container.background-transparent.no-vertical-padding
                      %tr
                        %td.wrapper.last.offset-by-one.no-vertical-padding
                          %table.ten.columns
                            %tr
                              %td.three.sub-columns.center
                                %label.center{ class: ('bold' if @recommendation.bedside_manner > 3 ) }
                                  = t('rating.form.bedside_manner.label')
                                = image_tag rating_image(@recommendation.bedside_manner), class: 'center rating'
                              
                              %td.three.sub-columns.center
                                %label.center{ class: ('bold' if @recommendation.efficacy > 3 ) }
                                  = t('rating.form.efficacy.label')
                                = image_tag rating_image(@recommendation.efficacy), class: 'center rating'
                              
                              %td.three.sub-columns.center
                                %label.center{ class: ('bold' if @recommendation.availability > 3 ) }
                                  = t('rating.form.availability.label')
                                = image_tag rating_image(@recommendation.availability), class: 'center rating' 
                              
                              %td.three.sub-columns.center.last
                                %label.center{ class: ('bold' if @recommendation.wait_time > 3 ) }
                                  = t('rating.form.wait_time.label')
                                = image_tag rating_image(@recommendation.wait_time), class: 'center rating' 
                              %td.expander    

                    %table.container.background-transparent
                      %tr
                        %td.wrapper.no-vertical-padding.offset-by-one
                          %table.five.columns
                            %tr
                              %td
                                = link_to t('email.recommendation.email_address'), "mailto:#{@recommendation.email}", class: 'btn btn-secondary btn-block btn-sm' 
                              %td.expander
                        
                        %td.wrapper.last.no-vertical-padding
                          %table.five.columns
                            %tr
                              %td
                                = link_to @recommendation.contact_phone, class: 'btn btn-secondary btn-block btn-sm' do
                                  = @recommendation.contact_phone
                              %td.expander

            %table.container
              %tr  
                %td.wrapper.last
                  %table.twelve.columns
                    %tr
                      %td.panel
                        Votre contribution est importante pour la communauté MèreVeilleuse. Si vous êtes satisfaite de cette recommandation, merci d'aider les autres MèreVeilleuses mamans en laissant une recommandation sur vos meilleurs professionnels de santé. Merci, vous êtes MèreVeilleuse.
                        
                        %br
                        %br
                        
                        = link_to '#', class: 'btn btn-primary btn-block' do
                          Recommender un professionnel de santé. 
              
                      %td.expander  
                  
                  %hr

            %table.container
              %tr  
                %td.wrapper.offset-by-one.last
                  %table.ten.columns
                    %tr
                      %td.panel.panel-no-padding
                        %b.small
                          Satisfaite de votre recherche ?  
                        
                        .small
                          Vous ne souhaitez plus recevoir de nouvelle alerte email pour un(e) #{@search.profession_name.downcase} qui pourra dispenser des soins à #{@search.patient_type_name.downcase}, et près de chez vous à/au #{@search.address} ?
                        %br  
                        = link_to '#', class: 'btn btn-alternate btn-block btn-sm' do
                          Je ne cherche plus.
                       
                      %td.expander 

            %table.container.footer     
              %tr
                %td
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td.center
                              %hr
                              .small
                                Cet email a été envoyé à #{@user.email}. #{ link_to 'Cliquez ici pour vous désinscrire.', '#' }  
                  %table.row
                    %tr    
                      %td.wrapper.last
                        %table.twelve.columns  
                          %tr
                            %td.two.sub-columns.center 
                              
                            %td.two.sub-columns.center 
                              %i.icon-lg.icon-square.background-google.color-light
                                = link_to '#' do
                                  = image_tag 'social-icons-google.png'
                            %td.two.sub-columns.center
                              %i.icon-lg.icon-square.background-twitter.color-light
                                = link_to '#' do
                                  = image_tag 'social-icons-twitter.png'
                            %td.two.sub-columns.center 
                              %i.icon-lg.icon-square.background-facebook.color-light
                                = link_to '#' do
                                  = image_tag 'social-icons-facebook.png'
                            %td.two.sub-columns.center 
                              %i.icon-lg.icon-square.background-instagram.color-light
                                = link_to '#' do
                                  = image_tag 'social-icons-instagram.png'
                            %td.two.sub-columns.center 
                              
                            %td.expander 
                                          