!!!  XML
!!!  Strict
%html{xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{content: 'width=device-width', name: 'viewport'}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    
    %title 
      mèreveilleuse
    
    %style{'data-roadie-ignore' => true}
      :plain
        .appleLinksWhite a { color: #ffffff !important; text-decoration: none;}
    
    
    = stylesheet_link_tag :email, media: 'screen'
  
  %body{ topmargin: 0, leftmargin: 0, marginheight: 0, marginwidth: 0 }
    %table.body
      %tr
        %td.center{ align: 'center', valign: 'top' }
          %center
            %table.container
              %tr
                %td
                  %table.row.header
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td.center
                              %center
                                = image_tag 'logo-badge.jpg', class: 'center'
                                %br
                                = image_tag 'group-of-mothers.jpg', class: 'center'
                            %td.expander
      
                  = yield
            
            %table.container.footer     
              %tr
                %td
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td.center
                              %center
                                %hr
                                This email was to #{@user.email}. #{ link_to 'Click here to unsubscribe', '#' }
                  %table.row
                    %tr    
                      %td.wrapper.last
                        %table.twelve.columns  
                          %tr
                            %td.two.sub-columns.center 
                              
                            %td.two.sub-columns.center 
                              %i.icon-lg.icon-square.background-google.color-light
                                = link_to '#' do
                                  = image_tag 'social-icons-google.png'
                            %td.two.sub-columns.center
                              %i.icon-lg.icon-square.background-twitter.color-light
                                = link_to '#' do
                                  = image_tag 'social-icons-twitter.png'
                            %td.two.sub-columns.center 
                              %i.icon-lg.icon-square.background-facebook.color-light
                                = link_to '#' do
                                  = image_tag 'social-icons-facebook.png'
                            %td.two.sub-columns.center 
                              %i.icon-lg.icon-square.background-instagram.color-light
                                = link_to '#' do
                                  = image_tag 'social-icons-instagram.png'
                            %td.two.sub-columns.center 
                              
                            %td.expander 
                                          