!!!  XML
!!!  Strict
%html{html_attrs('fr')}
  %head
    %title=page_title  
    
    = stylesheet_link_tag :application, media: 'screen'
    
    = render 'layouts/meta_tags'
    = render 'layouts/open_graph_meta_tags'

    
    = favicon_link_tag 'favicon.ico'
    
    <!--[if lt IE 9]>
    = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    <![endif]-->
    
    = render 'shared/analytics'

  %body
    = render 'shared/header'
    = yield

    = javascript_include_tag :application